/* @import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&display=swap"); */

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=DM+Sans:ital,opsz@0,9..40;1,9..40&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
html, body, #root, .app {
  @apply h-full w-full text-gray-500;
  font-family: "DM Sans", sans-serif;
}
